.jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}
    ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }
	table
	{border-collapse: collapse;
    width: 100%}
	table,tr,th { background-color: #f5f5f5;
	   border-collapse: collapse;
	   color: orange;
text-align: left;
	   }
	   
table,tr,td {background-color: #ffffff;
color:black;
 }